<ion-view class="index-page" cache-view="false">
  <ion-nav-title>云中漫步团队简介</ion-nav-title>
  <ion-nav-buttons side="left">
    <a href="#index" class="button button-icon ion-ios-home"></a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button on-tap="onBackBtn()" class="button button-icon ion-android-arrow-back"></button>
  </ion-nav-buttons>

  <ion-content>
    <p>
      <h5>&nbsp;&nbsp;&nbsp;&nbsp;本平台由云中漫步团队自主设计和开发。</h5>
    </p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;云中漫步团队的雏形是一个自发组织的app编程学习小组，包括数学、物理、通信等多个专业的同学，
      由高年级同学指导低年级同学。
    </p>
    <p style="text-align: center;">
      <img style="max-width: 100%;" ng-src="img/1.png"/>
    </p>
  </ion-content>
</ion-view>
