<ion-view class="index-page" cache-view="false">
    <ion-nav-title>选择实验</ion-nav-title>
    <ion-nav-buttons side="left">
        <a href="#index" class="button button-icon ion-ios-home"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button on-tap="exit()" class="button">退出</button>
    </ion-nav-buttons>
    <ion-content>
        <div class="row">
            <div class="col">
                <a href="#lab1" class="button button-calm button-block">驻波</a>
            </div>

            <div class="col">
                <a href="#lab2_1" class="button button-calm button-block">李萨如图形</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="#lab3_1" class="button button-calm button-block">杨氏双缝干涉</a>
            </div>
            <div class="col">
                <a ui-sref="lab4_0" class="button button-calm button-block">实验原理</a>
            </div>
        </div>
      <div class="row">
        <div class="col">
          <a href="#aboutus" class="button button-calm button-block">关于我们</a>
        </div>
        <div class="col">
          <a href="/" class="button button-calm button-block">考试</a>
        </div>
      </div>
    </ion-content>
</ion-view>
