<ion-view class="lab1_3-page" cache-view="false">
    <ion-nav-title>驻波图像</ion-nav-title>
    <ion-nav-buttons side="left">
        <a href="#index" class="button button-icon ion-ios-home"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a href="#lab1_3" class="button button-icon ion-android-arrow-back"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="card list">
            <div class="item item-divider">驻波</div>
            <div class="item">
                <ion-scroll class="img-scroll" zooming="true" direction="xy">
                    <div lab1-three-con data-type="zb" data-width="500" data-height="200" class="three-content"></div>
                </ion-scroll>
            </div>
        </div>
        <div class="padding row">
            <div class="col">
                <a on-tap="next()"  class="button button-full button-calm">测试</a>
            </div>
        </div>
    </ion-content>
</ion-view>
