<ion-view class="lab2_2-page" cache-view="false">
    <ion-nav-title>李萨如图像</ion-nav-title>
    <ion-nav-buttons side="left">
        <a href="#index" class="button button-icon ion-ios-home"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a href="#lab2_1" class="button button-icon ion-android-arrow-back"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="card list">
            <div class="item item-divider">李萨如图像</div>
            <div class="item">
                <ion-scroll class="img-scroll" zooming="true" direction="xy">
                    <div lab1-three-con data-type="lsr" data-width="500" data-height="200" class="three-content"></div>
                </ion-scroll>
            </div>
        </div>
    </ion-content>
</ion-view>
