<ion-view class="lab3_2-page" cache-view="false">
    <ion-nav-title>杨氏双缝</ion-nav-title>
    <ion-nav-buttons side="left">
        <a href="#index" class="button button-icon ion-ios-home"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button on-tap="onBackBtn()" class="button button-icon ion-android-arrow-back"></button>
    </ion-nav-buttons>
    <ion-content>
        <video src="img/lab3/video.mp4" width="100%" loop="true" autoplay="true" controls="false"></video>
        <a href="#lab3_3" class="button button-calm button-full">下一步</a>
    </ion-content>
</ion-view>
