<ion-view class="lab4_1-page" cache-view="false">
    <ion-nav-title>驻波</ion-nav-title>
    <ion-nav-buttons side="left">
        <a href="#index" class="button button-icon ion-ios-home"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button on-tap="onBackBtn()" class="button button-icon ion-android-arrow-back"></button>
    </ion-nav-buttons>
    <ion-content>
      <div class="padding">
        <h2>1，驻波的产生</h2>
        <p>
          振幅、传播速度都相同的两列相干波，在同一直线上沿相反方向传播时叠加而形成的一种特殊的干涉现象。
        </p>

        <h2>2，驻波方程</h2>
        <p>
          <img src="img/lab4/zhubo/2.png" />
        </p>

        <h2>3，波腹和波节</h2>
        <h3>波腹：</h3>
        <p>
          <img src="img/lab4/zhubo/3_1.png" />
        </p>

        <h3>波节：</h3>
        <p>
          <img src="img/lab4/zhubo/3_2.png" />
        </p>
      </div>

      <a href="#lab1" class="button button-calm button-full">返回驻波</a>
    </ion-content>
</ion-view>
