<ion-view class="lab4_1-page" cache-view="false">
    <ion-nav-title>李萨如图形</ion-nav-title>
    <ion-nav-buttons side="left">
        <a href="#index" class="button button-icon ion-ios-home"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button on-tap="onBackBtn()" class="button button-icon ion-android-arrow-back"></button>
    </ion-nav-buttons>
    <ion-content>
      <div class="padding">
        <p>
          相互垂直的两个简谐振动合成时，所产生的稳定的、封闭的几何图形叫李萨如图形。实验室在演示李萨如图形时，通常用两个余弦波替代相互垂直的简谐振动。因此，李萨如图形的每一个点可以用下列方程表示：
        </p>
        <p>
          <img src="img/lab2/1.jpg" />
          <img src="img/lab2/2.jpg" />
        </p>
        <p>
          当一个质点同时在X轴和Y轴上振动，当两个振动频率为简单的整数比的时候，其轨迹就会形成一个稳定、封闭的曲线图形，叫做李萨如图形。下面是振动频率相同时的李萨如图形。
        </p>
        <p>
          <img src="img/lab4/lisharu/1.jpg" />
        </p>
      </div>
      <a ui-sref="lab2_1" class="button button-calm button-full">返回李萨如图形</a>
    </ion-content>
</ion-view>
