<ion-view class="lab4_1-page" cache-view="false">
    <ion-nav-title>实验原理</ion-nav-title>
    <ion-nav-buttons side="left">
        <a href="#index" class="button button-icon ion-ios-home"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button on-tap="onBackBtn()" class="button button-icon ion-android-arrow-back"></button>
    </ion-nav-buttons>
    <ion-content>
      <div class="padding">
        <a ui-sref="lab4_1" class="button button-block button-calm">驻波</a>
      </div>
      <div class="padding">
        <a ui-sref="lab4_2" class="button button-block button-calm">李萨如图形</a>
      </div>
      <div class="padding">
        <a ui-sref="lab4_3" class="button button-block button-calm">杨氏双缝干涉</a>
      </div>

    </ion-content>
</ion-view>
