<ion-view class="lab4_1-page" cache-view="false">
    <ion-nav-title>杨氏双缝干涉</ion-nav-title>
    <ion-nav-buttons side="left">
        <a href="#index" class="button button-icon ion-ios-home"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button on-tap="onBackBtn()" class="button button-icon ion-android-arrow-back"></button>
    </ion-nav-buttons>
    <ion-content>
      <div class="padding">
        <p>
          <img src="img/lab4/shuangfengganshe/1.png" />
        </p>

        <p>
          <img src="img/lab4/shuangfengganshe/2.jpg" />
        </p>

        <p>
          <img src="img/lab4/shuangfengganshe/3.jpg" />
        </p>

        <p>
          <img src="img/lab4/shuangfengganshe/4.jpg" />
        </p>
      </div>

      <a ui-sref="lab3_1" class="button button-calm button-full">返回杨氏双缝干涉</a>
    </ion-content>
</ion-view>
