{% extends "base.html" %}
{%block head%}

{%endblock%}
{%block content%}

<div class="wy-content">
	<div id="a1"></div>
</div>

<script type="text/javascript" src="/static/ckplayer/ckplayer.js" charset="utf-8"></script>
<script type="text/javascript">
	var flashvars={
		f:"{{video_address}}",
		c:0,
		};
	var params={bgcolor:'#FFF',allowFullScreen:true,allowScriptAccess:'always',wmode:'transparent'};
	/*
	CKobject.embedSWF(播放器路径,容器id,播放器id/name,播放器宽,播放器高,flashvars的值,其它定义也可省略);
	下面三行是调用html5播放器用到的
	*/
	var video_address = '{{video_address}}'.split('|');
	var video = [];
	for (var i=0;i<video_address.length;i++){
		video[i] = "http://leimulamu.cc"+video_address[i]+"->video/mp4"
	}
	console.log(video);
	CKobject.embed('/static/ckplayer/ckplayer.swf','a1','ckplayer_a1',600,400,false,flashvars,video);
	
	function closelights(){//关灯
		alert(' 本演示不支持开关灯');
	}
	function openlights(){//开灯
		alert(' 本演示不支持开关灯');
	}
  </script>
{%endblock%}